.ChatWindow
{
    height: 500px
}

.pad {   
    display:inline-block; position:relative; z-index:1; width:300px; height:300px; margin:20px; padding:25px;
    border-radius:20px;
    background:linear-gradient(0.06deg, rgba(250, 250, 250, 1) 0%, 
                                        rgba(246, 246, 246, 1) 29.62%, 
                                        rgba(234, 234, 234, 1) 58.47%, 
                                        rgba(215, 215, 215, 1) 86.92%, 
                                        rgba(204, 204, 204, 1) 99.22%); 
    box-shadow:-4px 8px 8px rgba(0,0,0,0.1), -8px 16px 16px rgba(0,0,0,0.1), -16px 32px 32px rgba(0,0,0,0.15), -32px 64px 64px rgba(0,0,0,0.25);  
  }
  .pad:before {
    content:''; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; margin:0;
  }
.pad.v {
    box-shadow: 0px 1px 2px #eee, 0px 2px 2px #e9e9e9, 0px 3px 2px #ccc, 0px 4px 2px #c9c9c9, 0px 5px 2px #bbb, 0px 6px 2px #b9b9b9, 0px 7px 2px #999, 0px 7px 2px rgba(0,0,0,.5), 0px 7px 2px rgba(0,0,0,0.1), 0px 7px 2px rgba(0,0,0,.73), 0px 3px 5px rgba(0,0,0,.3), 0px 5px 10px rgba(0,0,0,.37), 0px 10px 10px rgba(0,0,0,.1), 0px 20px 20px rgba(0,0,0,0.1);  
  }